.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode
ehthumbs.db
Thumbs.db

/UnityClient/[Ll]ibrary/
/UnityClient/[Tt]emp/
/UnityClient/[Oo]bj/
/UnityClient/[Bb]uild/
/UnityClient/[Bb]uilds/
/UnityClient/[Ll]ogs/
/UnityClient/[Mm]emoryCaptures/
/UnityClient/[Uu]serSettings/
/UnityClient/[Ee]xecutables/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

/NativeCV/build/
/NativeCV/out/
/NativeCV/bin/
/NativeCV/.cmake/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

/ROS2/build/
/ROS2/install/
/ROS2/log/